html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
}
* {
  box-sizing: border-box;
}

#boss {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/** HEADER **/

header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 100vw;
  min-width: 300px;
  flex-wrap: wrap;
}

h2 i {
  font-size: 35px;
  color: black;
}

.head-center ul {
  display: flex;
}
.head-center ul li {
  list-style-type: none;
}
.head-center ul li a {
  padding: 8px;
  text-decoration: none;
  color: black;
}

input {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 18px;
  border-radius: 5px;
  cursor: pointer;
}

/** MAIN **/

main {
  display: flex;
  flex-direction: column;
}

.first-line,
.second-line,
.third-line {
  display: flex;
  max-width: 100vw;
  min-width: 100vw;
  flex-grow: 1;
  flex-wrap: wrap;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  flex-basis: 40vw;
  padding: 10vw;
}
.box1 h1 {
  font-size: 30px;
}

.box1 a {
  text-decoration: none;
  color: white;
}

.box2 {
  display: flex;
  justify-content: center;
  flex-basis: 60vw;
}
.box2 img {
  max-width: 100%;
}

.white {
  background-color: white;
  color: black;
}
.white a {
  color: black;
}
/** ROW GALLERY **/

.row-gallery {
  display: flex;
  flex-wrap: wrap;
}

.row-box,
.row-box1 {
  background-image: url(https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex: 1 370px;
  padding: 8vw 2vw 2vw 2vw;
}
.row-box p,
.row-box1 p {
  margin: 0;
  padding: 5px;
}
.row-box1 {
  background-image: url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}
.row-box a,
.row-box1 a {
  border-top: 2px solid white;
  text-decoration: none;
  color: white;
  font-size: 12px;
  opacity: 0.8;
}
.row-box i,
.row-box1 i {
  padding-left: 10vw;
}

.row-box .ita,
.row-box1 .ita {
  font-size: 15px;
  font-style: italic;
  font-family: cursive;
}

/** INFO  **/

.info {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 400px;
  padding: 6vw;
}
.boxes i {
  font-size: 40px;
}
.boxes h3 {
  font-size: 18px;
}
.boxes p {
  font-size: 12px;
  opacity: 0.6;
}

/** FOOTER **/

.footer {
  display: flex;
  justify-content: flex-start;
  max-width: 100vw;
  background-color: black;
  color: white;
  padding: 3vw;
  align-items: baseline;
  flex-wrap: wrap;
}

/** FOOTER LEFT **/

.left-foot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.left-foot .icons {
  padding-top: 3vw;
  flex-wrap: wrap;
}
.left-foot i {
  font-size: 22px;
  color: white;
}

/**  RIGHT TWO DIV  **/

.right-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex: 1 400px;
  flex-wrap: wrap;
}

.center-foot ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.center-foot ul li a {
  text-decoration: none;
  color: white;
}
.center-foot ul li {
  padding: 5px;
}
.right-foot p a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

/** Some Styles **/

input:hover {
  opacity: 0.6;
}
a:hover {
  background-color: #ccc;
  color: black;
}
.footer ul li a:hover {
  color: black;
}
.right-foot p a:hover {
  color: black;
}
.icons i:hover {
  background-color: white;
  color: black;
}

.box2 img:hover {
  opacity: 0.5;
}
.box2 img {
  cursor: pointer;
}
.row-box1:hover,
.row-box:hover {
  opacity: 0.5;
}
.row-box,
.row-box1 {
  cursor: pointer;
}
.info i {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .box1,
  .box2 {
    min-width: 100vw;
  }
  .ord1 {
    order: -1;
  }
}
