html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
}
* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

/**  GRID AREAS **/

.header {
  grid-area: header;
}
.hero {
  grid-area: hero;
}
.ad {
  grid-area: ad;
}
.body {
  grid-area: body;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
.head-s {
  grid-area: head-s;
}
.brand {
  grid-area: brand;
}
.globalnav {
  grid-area: globalnav;
}
.tools {
  grid-area: tools;
}
.article {
  grid-area: article;
}
.article2 {
  grid-area: article2;
}
.yellow {
  background-color: yellow;
}
.ce {
  display: grid;
  justify-content: center;
  align-content: center;
}

/** BOSS **/

#boss {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "header header header header"
    "hero hero hero ad"
    "hero hero hero ad"
    "body body body sidebar"
    "body body body sidebar"
    "body body body sidebar"
    "footer footer footer footer";
  grid-auto-rows: minmax(50px, auto);
  background-color: mediumseagreen;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* HEADER */

.header {
  display: grid;
  grid-gap: 1vw;
  background-color: lightskyblue;
  grid-template-areas:
    "head-s head-s head-s head-s"
    "brand globalnav globalnav tools";
  grid-template-rows: 1fr 1.5fr;
  padding: 10px 20px;
}
/* HERO */

.hero {
  display: grid;
  grid-gap: 1vw;
  background-color: lightskyblue;
  padding: 10px 20px;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "head-s head-s head-s head-s head-s"
    "article article article article2 article2";
}

/* AD */

.ad {
  background-color: lightskyblue;
}
/* BODY */

.body {
  display: grid;
  grid-gap: 1vw;
  background-color: lightskyblue;
  padding: 10px 20px;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "head-s head-s head-s head-s head-s"
    "article article article2 article2 article2";
}

/* SIDEBAR */

.sidebar {
  display: grid;
  background-color: lightskyblue;
  padding: 10px 20px;
  grid-template-rows: 1fr 5fr;
}
/* SIDEBAR */
.footer {
  display: grid;
  background-color: lightskyblue;
  padding: 10px 20px;
}

@media screen and (max-width: 1024px) {
  #boss {
    grid-template-columns: max-content;
    grid-template-areas:
      ".header"
      ".hero"
      ".ad"
      ".body"
      ".sidebar"
      ".footer";
  }
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head-s"
      "article"
      "article2";
  }
  .body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head-s"
      "article"
      "article2";
  }
}
@media screen and (max-width: 700px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "head-s head-s"
      "globalnav globalnav"
      "brand tools";
  }
  .hero .article {
    display: none;
  }
  .hero {
    grid-template-areas:
      "head-s"
      "article2";
    grid-template-rows: 1fr 1fr;
  }
  .body {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "head-s"
      "article"
      "article2";
  }
  .sidebar,
  .ad {
    display: none;
  }
  #boss {
    grid-template-columns: max-content;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
    grid-template-areas:
      ".header"
      ".hero"
      ".body"
      ".footer";
  }
}
